OculusQuest2Sterter/.vs
OculusQuest2Sterter/*.csproj
OculusQuest2Sterter/Library
OculusQuest2Sterter/Temp/
OculusQuest2Sterter/Library/
OculusQuest2Sterter/Packages/
OculusQuest2Sterter/obj/
OculusQuest2Sterter/*.unitypackage
OculusQuest2Sterter/*.sln
OculusQuest2Sterter/UnityPackageManager
OculusQuest2Sterter/*.collabignore
OculusQuest2Sterter/AssetBundles/